---
import "@style";
import Layout from "@layouts/Layout.astro";
import Content from "@contents/about/homelab.mdx";

import { type HeaderNav } from "@components/widgets/SidebarNav.astro";

const page = "homelab";
const headers: HeaderNav[] = [
  { title: "..", href: "/about#portfolio" },
  { title: "Changelog", href: "#changelog" },
  { title: "Diagram", href: "#diagram" },
  {
    title: "Network",
    href: "#network",
    subheaders: [
      {
        title: "PVE Network",
        href: "#pve-network",
        subheaders: [
          { title: "Internet Access.", href: "#internet-accessibility" },
          { title: "How to setup ICS", href: "#how-to-setup-ics" },
        ],
      },
      { title: "Hyper-V Network", href: "#hyper-v-network" },
    ],
  },
  { title: "Storage", href: "#storage" },
  { title: "Power", href: "#power" },
  {
    title: "Final Thoughts",
    href: "#final-thoughts",
    subheaders: [
      { title: "Hyper-V vs Proxmox", href: "#hyper-v-vs-proxmox" },
      { title: "Future Todos", href: "#future-todos" },
    ],
  },
];
---

<Layout page={page} headers={headers}>
  <section class="text-base">
    <Content />
  </section>
</Layout>
