---
import { Image } from "astro:assets";

import { techMap } from "@/assets/icons/techMap.ts";

interface Props {
  tech: string;
}

const { tech } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/icons/*.{svg,png}",
);
const image = images[`/src/assets/icons/${techMap.get(tech)}`]();
---

<div
  class="flex flex-col items-center justify-evenly border-1 w-[5.4rem] h-[5.4rem] sm:w-[6.6rem] sm:h-[6.6rem] icon-theme"
>
  <Image
    class="!my-0 size-fit w-[40px] h-[40px] sm:w-[50px] sm:h-[50px]"
    src={image}
    alt={tech}
    height={50}
    width={50}
  />
  <div class="text-center leading-4">{tech}</div>
</div>
