---
import "@style";
import Layout from "@layouts/Layout.astro";
import DeprecatedContent from "@contents/homelab/deprecated.mdx";

const page = "deprecated homelab stuff";
---

<Layout page={page}>
  <section class="text-base">
    <DeprecatedContent />
  </section>
</Layout>
