---
import NavigationBar from "../components/NavigationBar";
---

<html lang="en">
  <head>
    <title>Tyrone Wu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="title" content="Tyrone Wu" />
    <meta name="description" content="Tyrone Wu's Portfolio Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <NavigationBar client:load />
  </body>
</html>