---
import Oss from "./Oss.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
import OtherStuff from "./others/OtherStuff.astro";
---

<section>
  <h1 id="portfolio">Portfolio</h1>
  <div class="flex flex-col gap-16">
    <Oss />
    <Projects />
    <Skills />
    <OtherStuff />
  </div>
</section>
