---
import ThemeIcon from "./ThemeIcon.astro";
import AboutDropdown from "./AboutDropdown.astro";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;

export interface Page {
  name: string;
  href: string;
}

const navigation: Page[] = [
  { name: "home", href: "/" },
  { name: "blog", href: "/blog" },
  { name: "about", href: "/about" },
];
const aboutPages: (Page & { pageName: string })[] = [
  { name: "oss", href: "/about/open-source", pageName: "open-source" },
  {
    name: "projs",
    href: "/about/projects-skills",
    pageName: "projects & skills",
  },
  { name: "homelab", href: "/homelab", pageName: "homelab" },
  { name: "aoc", href: "/about/aoc", pageName: "advent of code" },
];
---

<div
  class="header-theme border-b-1 line-highlight fixed top-0 left-0 right-0 z-50 py-4"
>
  <div class="mx-auto max-w-screen-md px-8 flex flex-row justify-between">
    <ThemeIcon />
    <nav class="flex flex-row items-center gap-6 fs-lg-base">
      {
        navigation.map((nav) => (
          <a
            class="ul-offset hover:decoration-2"
            class:list={{
              "font-bold": nav.name === currentPage,
              "current-highlight": nav.name === currentPage,
            }}
            href={nav.href}
          >
            {nav.name}
          </a>
        ))
      }
      <div class="relative">
        <AboutDropdown pages={aboutPages} currentPage={currentPage} />
      </div>
    </nav>
  </div>
</div>
