---
import Accordion from "@components/widgets/Accordion.astro";
---

<section>
  <Accordion>
    <div class="!my-0 fs-lg" slot="title">Homelab</div>
    <div slot="contents">🤫 coming soon...</div>
  </Accordion>
</section>
