---
import Accordion from "@components/widgets/Accordion.astro";
---

<section id="homelab" class="scroll-anchor-offset">
  <Accordion>
    <div class="!my-0 fs-lg-base" slot="title">Homelab</div>
    <div slot="contents">🤫 coming soon...</div>
  </Accordion>
</section>
