---
import Aoc from "./Aoc.astro";
import Homelab from "./Homelab.astro";
---

<section>
  <h2 id="other-stuff" class="ul-offset">Other Stuff</h2>
  <div class="flex flex-col gap-16">
    <Aoc />
    <Homelab />
  </div>
</section>
